/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chat {
  background-color: #ffffff;;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: rgb(58, 57, 57); */
  /* position: relative; */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* font-family: 'Poppins', sans-serif;
  padding-left: 30px;
} */

 /* .input-container {
  width: 50%;
  display: flex;
  border: solid 0.5px #1760ff;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 82, 0.15) 0 2px 4px;
  overflow: hidden;

}

.input-container input {
  border: none;
  padding: 13px 14px;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
  width: 90%;
  font-weight: 200;
}

.input-container button {
  min-width: 10%;
  border: none;
  border-left: 1px solid #cacaca;
  background-color: #fff;
  color: #2d2d2d;
  font-weight: bold;
  cursor: pointer;
}

.input-container button:active {
  background-color: #45d1ff;
} */

